<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <h1>Login</h1>
    <input name="password" type="text" [(ngModel)]="password">
    <button class="btn btn-block btn-primary" (click)="login()">
      Login
    </button>
  </div>
  <div class="col-sm-4"></div>
  <ul>
    <li>
      <a [routerLink]="['/home']">Home</a>
    </li>
    <li>
      <a [routerLink]="['/faq']">FAQ</a>
    </li>
    <li>
      <a [routerLink]="['/login']">Login</a>
    </li>
  </ul>
  <!--.row>.col-sm-4*4-->
</div>
